.champion_select_section {
  border: 1px solid #323232;
  margin-bottom: 6px;
}
.select_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 15px;
  background: #2c2e37;
  color: #ffffff;
  height: 49px;
}
.select_title > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.title {
  color: #ca9372;
}
.selected_champion_text {
  color: white;
  font-size: 15px;
}
.selected_champion_result_text {
  color: #ca9372;
  font-size: 17px;
}
.select_title > div > .submit {
  font-size: 14px;
  padding: 8px 10px;
  margin-right: 5px;
  border-radius: 4px;
  background-color: #17a2b8;
  color: white;
  border: none;
}
.select_title > div > .submit:hover {
  -webkit-filter: brightness(0.9);
  filter: brightness(0.9);
}
.select_title > div > .clear {
  font-size: 14px;
  padding: 8px 10px;
  border-radius: 4px;
  background-color: #28a745;
  color: white;
  border: none;
}
.select_title > div > .clear:hover {
  -webkit-filter: brightness(0.9);
  filter: brightness(0.9);
}
.result_section {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 171px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #30323b;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  .result_section {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.select_champion_section {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 16px;
}
.result_text_section {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 15px 16px 16px 16px;
  border-top: 1px solid #363944;
}
@media (min-width: 768px) {
  .result_text_section {
    padding: 16px 16px 16px 15px;
    border-left: 1px solid #363944;
    border-top: none;
  }
}
.champion_button {
  font-size: 14px;
  padding: 8px 10px;
  margin: 4px;
  margin-inline: 5px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #363944;
  color: #323232;
}
.champion_button:hover {
  -webkit-filter: brightness(0.9);
  filter: brightness(0.9);
}
